name = "TorelliTrees"
uuid = "53f75a04-de99-4e46-bcd1-b171d6e83233"
authors = ["dh604 <daniel.holmes@gmx.at> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
